.header{
  padding-top: 20em;
}

.bg-header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 5%, rgba(0, 0, 0, 0.1) 100%), url("./img/bg.svg");
  background-size: cover;
  height: 59.2em !important;
}